<div class="card mb-3 player-details">
  <div class="row g-0">
    <div class="col-md-4">
      <Player::Image
        src="https://images.unsplash.com/photo-1516742720271-6ae39cbc5bd1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80"
        alt="image of a player"
      />
    </div>
    <div class="col-md-8 player">
      <div class="card-body">
        <h5 class="card-title">Ronaldinho Gaucho</h5>
        <ul class="list-details">
            <li class="nationality">Nationality: <span>Brazilian</span></li>
            <li class="club">Club: <span>Milan</span></li>
            <li class="age">Age: <span>38</span></li>
            <li class="position">Position: <span>Attacking</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>