<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." alt="...">
    </div>
    <div class="col-md-8 player">
      <div class="card-body">
        <h5 class="card-title">Ronaldinho Gaucho</h5>
        <ul class="list-details">
            <li class="club">Nacionality: <span>Brazilian</span></li>
            <li class="club">Club: <span>Milan</span></li>
            <li class="club">Age: <span>38</span></li>
            <li class="club">Position: <span>Attacking</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>