<Jumbotron>
    <h1 class="display-4">About Football Players </h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod incidunt delectus nesciunt eligendi nisi quo magni reiciendis rerum distinctio error.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod incidunt delectus nesciunt eligendi nisi quo magni reiciendis rerum distinctio error.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod incidunt delectus nesciunt eligendi nisi quo magni reiciendis rerum distinctio error.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod incidunt delectus nesciunt eligendi nisi quo magni reiciendis rerum distinctio error.
    </p>
    <LinkTo @route='contact' class="btn btn-success">Contact Page</LinkTo>
</Jumbotron>