<Jumbotron>
    <h1 class="display-4">Contact Us </h1>
    <p>The new contact page will be available soon</p>
    <ul class="lead">
        <li>tel: 99999-9999</li>
        <li>email: footballplayers@email.com</li>
    </ul>
    <LinkTo @route='index' class="btn btn-success">Home</LinkTo>
</Jumbotron>