<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Football Players </h1>
    <p class="lead">A simple Ember application</p>
    <LinkTo @route='about' class="btn btn-success">About Us</LinkTo>
  </div>
</div>