
<Jumbotron>
    <h1 class="display-4">Welcome to Football Players </h1>
    <p class="lead">A simple Ember application</p>
    <LinkTo @route='about' class="btn btn-success">About Us</LinkTo>
</Jumbotron>


<div class="container">
    {{!-- <Player @player={{@model}}/>
    <Player @player={{@model}}/>
    <Player @player={{@model}}/> --}}
    {{#each @model as |property|}}
        <Player @player={{property}} />
    {{/each}}
</div>
